.popupHeaderMenu {
  position: relative;
  z-index: 2;

  &Title {
    display: flex;
    align-items: center;

    color: white;

    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;

      transition: all 0.3s ease;
    }

    &._active {
      svg {
        transform: rotate(180deg);
      }
    }

    p {
      font-family: $font-inter;
      font-size: 17px;
      line-height: 25px;
      font-weight: 400;
      transition: all 0.3s ease;
    }
  }
  //fix animation and margin
  &Content {
    width: 200px;
    min-height: auto;
    margin-top: -15px;
    position: absolute;
    top: 80px;

    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    border-radius: 6px;

    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;

    a {
      padding: 5px;

      font-family: $font-inter;
      font-size: 17px;
      line-height: 25px;
      font-weight: 500;
      transition: all 0.3s ease;
      color: black;

      &:last-child {
        border-radius: 0px 0px 6px 6px;
      }

      &:first-child {
        border-radius: 6px 6px 0px 0px;
      }

      &:hover {
        @media #{$ui-mouse-device} {
          background-color: #eae5e5;
        }
      }
    }
    &._active {
      top: 40px;

      opacity: 1;
      visibility: visible;
    }
  }
}
