.vacancyItem {
  margin-bottom: 20px;

  display: flex;
  align-items: flex-start;
  gap: 20px;

  &AdminPanel {
    padding: 5px;
    text-align: right;

    background-color: $ui-sun-color;
    border-radius: 8px;
    img {
      width: 20px;
      height: 20px;

      cursor: pointer;

      transition: all 0.3s ease;

      @media #{$ui-mouse-device} {
        &:hover {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &Image {
    width: 100%;
    max-width: 40%;
    max-height: 500px;

    flex: 0 0 40%;

    object-fit: contain;

    border-radius: 8px;
  }
  &Name {
    font-size: 26px;
    margin-bottom: 20px;
  }
  p:last-of-type {
    margin-bottom: 20px;
  }
  @media #{$ui-tablet-avg} {
    flex-direction: column;
    gap: 10px;
    &Image {
      max-width: none;
      flex: 0 0 100%;
      max-height: 300px;
    }
    &Name {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}
