.serviceDescription {
  padding-top: 30px;
  padding-bottom: 30px;
  &Title {
    margin-bottom: 20px;
  }
  &Main {
    display: flex;
    gap: 20px;
  }
  &Image {
    max-width: calc(40% - 20px);
    max-height: 300px;
    flex: 0 0 calc(40% - 20px);

    border-radius: 8px;
  }
  &Text {
    flex: 0 0 calc(60% - 20px);

    p {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  &Error {
    margin: 0 auto;
  }

  @media #{$ui-tablet-max} {
    &Main {
      flex-direction: column;
    }
    &Image {
      width: 100%;
      max-width: none;
      max-height: none;

      order: 1;
    }
    &Text {
      order: 2;

      flex: 0 0 100%;
    }
  }
  @media #{$ui-mobile-max} {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
