.employeeList {
  padding-top: 30px;
  padding-bottom: 30px;

  position: relative;

  &Error {
    text-align: center;
  }
  &Title {
    margin-bottom: 20px;
  }
  &Loader {
    margin: 0 auto;
  }
}
