.loader {
  margin: 0 auto;
  &WithMargins {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &Absolute {
    margin: 0;

    position: absolute;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);
  }
}
