.myInput {
  @include formFields;
}

.formItem {
  position: relative;

  font-weight: 600;
}
.error {
  position: absolute;
  top: -6px;
  left: 10px;
  z-index: 2;
  background-color: white;
}
.errorWithLabel {
  position: absolute;
  top: 8px;
  left: 70px;
}
