.newsItem {
  margin-bottom: 20px;

  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);

  &AdminPanel {
    padding: 5px;
    text-align: right;

    background-color: $ui-sun-color;
    border-radius: 8px;
    img {
      width: 20px;
      height: 20px;

      cursor: pointer;

      transition: all 0.3s ease;

      @media #{$ui-mouse-device} {
        &:hover {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  &Content {
    display: flex;
    flex-direction: column;

    color: black;

    transition: all 0.3s ease;

    @media #{$ui-mouse-device} {
      &:hover {
        .newsItemImage {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &Image {
    margin-bottom: 10px;

    border-radius: 8px;

    overflow: hidden;

    img {
      width: 100%;
      max-height: 250px;
      min-height: 250px;

      object-fit: cover;

      transition: all 0.5s ease;
    }
  }

  &Date {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 800;
    color: $ui-sun-color;

    img {
      width: 20px;
      height: 20px;
    }
  }
  &Title {
    margin-bottom: 5px;

    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }

  &Description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    overflow: hidden;

    word-wrap: break-word;
  }

  @media #{$ui-tablet-max} {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);

    margin-bottom: 10px;
  }

  @media #{$ui-mobile-max} {
    flex: 0 1 100%;
    max-width: 100%;

    gap: 10px;
    margin-bottom: 0;

    &Title {
      font-size: 16px;
    }
  }
}
