.contact {
  position: relative;
  &Content {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  &Main {
    flex: 0 1 calc(70% - 20px);
    h2 {
      margin-bottom: 10px;
    }

    &Desc {
      margin-bottom: 10px;
    }

    form {
      margin-top: 20px;

      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      label {
        flex: 1 1 calc(50% - 20px);
      }

      label:last-of-type {
        flex: 1 1 calc(100% - 20px);
      }

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
        resize: none;
        min-height: 100px;
      }
    }
  }
  &Info {
    flex: 0 1 calc(30% - 20px);

    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h5 {
      color: $ui-black-color;
      line-height: 45px;
      margin-bottom: 10px;
    }

    svg {
      color: $ui-sun-color;
    }

    a {
      color: $ui-black-color;
    }
  }

  &Office {
    margin-bottom: 20px;
    &Town {
      font-size: 15px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &Map {
    iframe {
      width: 100%;
      height: 400px;
    }
  }

  @media #{$ui-tablet-max} {
    &Content {
      padding-top: 20px;
      padding-bottom: 20px;

      flex-direction: column;
    }
    &Main {
      flex: 1 1 100%;
      h2 {
        font-size: 26px;
        line-height: 100%;
      }
      form {
        margin-top: 10px;
      }
    }
    &Info {
      width: 100%;

      flex: 1 1 100%;
    }
    &Offices {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &Office {
      margin-bottom: 5px;
    }
  }
  @media #{$ui-mobile-max} {
    &Content {
      gap: 10px;
    }
    &Main {
      h2 {
        font-size: 20px;
        margin-bottom: 5px;
      }
      .default-text {
        font-size: 12px;
        line-height: 200%;
        margin-bottom: 10px;
      }
      form {
        gap: 10px;
        flex-direction: column;
        textarea {
          min-height: 70px;
        }
      }
    }
    &Info {
      h5 {
        font-size: 16px;
        margin-bottom: 0px;
      }
    }
    &Map {
      iframe {
        height: 200px;
      }
    }
  }
}
