.contact {
  position: relative;
  &Content {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  &Main {
    flex: 0 1 calc(50% - 20px);
    h2 {
      margin-bottom: 30px;
    }

    &Desc {
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      label {
        flex: 1 1 calc(40% - 20px);
      }

      label:last-of-type {
        flex: 1 1 calc(100% - 20px);
      }

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
        resize: none;
        min-height: 100px;
      }
    }
  }
  &Info {
    flex: 0 1 calc(50% - 20px);

    h2 {
      margin-bottom: 30px;
    }

    &Main {
      margin-bottom: 20px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      &Item {
        flex: 1 1 calc(50% - 10px);
        p {
          margin-bottom: 4px;
        }
      }
    }

    &Peoples {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      &Item {
        flex: 1 1 calc(50% - 10px);

        p {
          &:first-of-type {
            margin-bottom: 5px;
          }
        }

        p {
          line-height: 100%;
        }

        a {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }

    p,
    a {
      font-size: 14px;
    }

    svg {
      color: $ui-sun-color;
    }

    a {
      color: $ui-black-color;
    }
  }

  .boldTitle {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 16px;
    font-weight: 600;
  }

  &Map {
    iframe {
      width: 100%;
      height: 400px;
    }
  }

  @media #{$ui-tablet-max} {
    &Content {
      padding-top: 20px;
      padding-bottom: 20px;

      flex-direction: column;
    }
    &Main {
      width: 100%;

      flex: 1 1 100%;
      h2 {
        font-size: 26px;
        line-height: 100%;
      }
      form {
        margin-top: 10px;
      }
    }
    &Info {
      width: 100%;

      flex: 1 1 100%;
    }
  }
  @media #{$ui-mobile-max} {
    &Content {
      gap: 10px;
    }
    &Main {
      flex: 1 1 100%;
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .default-text {
        font-size: 12px;
        line-height: 200%;
        margin-bottom: 10px;
      }
      form {
        gap: 10px;
        flex-direction: column;
        textarea {
          min-height: 70px;
        }
      }
    }
    &Info {
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      &Main {
        margin-bottom: 16px;
        &Item {
          flex: 1 1 100%;
        }
      }
      &Peoples {
        &Item {
          flex: 1 1 100%;
        }
      }
    }
    &Map {
      iframe {
        height: 200px;
      }
    }
  }
}
