.reviewsList {
  padding-top: 40px;
  padding-bottom: 40px;
  &Title {
    h2 {
      margin-bottom: 10px;
    }
    margin-bottom: 20px;
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  button {
    display: block;
    margin-bottom: 20px;
  }

  @media #{$ui-tablet-avg} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
