.customLink {
  font-family: $font-inter;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(#ffffff, 1);
  transition: all 0.3s ease;
}
.activeCustomLink {
  color: rgba($ui-sun_color, 1);
  &:hover {
    @media #{$ui-mouse-device} {
      color: rgba($ui-sun_color, 1);
    }
  }
}
