.header {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  font-family: $font-open-sans;

  &Info {
    background-color: rgba(black, 0.6);

    &Content {
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &Contacts {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 16px;
          height: 16px;
        }

        &Item {
          display: flex;
          align-items: center;
          gap: 10px;

          color: #ffffff;

          p {
            transition: all 0.3s ease;
          }

          &.isLink {
            &:hover {
              @media #{$ui-mouse-device} {
                p {
                  color: $ui-sun-color;
                }
              }
            }
          }
        }
      }
    }
  }

  &Nav {
    &Content {
      height: 60px;
      padding-top: 10px;
      padding-bottom: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &Logo {
      height: 60px;
      width: 80px;
    }

    &Buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        padding: 5px 10px;
      }
    }

    &ContactsItem {
      display: flex;
      align-items: center;
      gap: 10px;

      color: #ffffff;

      a {
        color: #ffffff;
        transition: all 0.3s ease;
      }

      img {
        width: 16px;
        height: 16px;
      }

      &:hover {
        @media #{$ui-mouse-device} {
          a {
            color: $ui-sun-color;
          }
        }
      }
    }
    &Cart {
      position: relative;

      svg {
        width: 20px;
        height: 20px;

        transition: all 0.3s ease;

        color: #ffffff;
      }

      .cartCount {
        width: 22px;
        height: 22px;

        position: absolute;
        top: -10px;
        right: -15px;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 12px;

        transition: all 0.3s ease;

        background-color: $ui-sun-color;
        border-radius: 50%;
        color: #ffffff;
      }

      &:hover {
        @media #{$ui-mouse-device} {
          svg {
            color: $ui-sun-color;
          }
          .cartCount {
            color: $ui-sun-color;
            background-color: #ffffff;
          }
        }
      }
    }

    &HambContent {
      display: none;
      padding: 5px;
    }

    &Hamb {
      display: flex;
      flex-direction: column;
      &:hover {
        @media #{$ui-mouse-device} {
          span {
            background-color: $ui-sun-color;
          }
        }
      }
    }

    &Popup {
      display: none;
    }

    ._active {
      display: block;
      right: 0;
      top: 0;
      overflow: scroll;
    }
  }
  // :)
  @media screen and (min-width: 48.1em) {
    &Nav {
      &Popup,
      ._active {
        display: none;
      }
    }
  }
  @media screen and (max-width: 48em) {
    &Info {
      display: none;
    }
    &Nav {
      &Content {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &Cart {
        padding: 5px;
        .cartCount {
          top: -8px;
          right: -8px;
        }
      }
      nav {
        display: none;
      }
      &HambContent {
        display: block;
      }
      &Popup {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        position: fixed;
        top: 0;
        right: -100%;

        display: block;

        background-color: rgba($color: black, $alpha: 0.9);

        transition: all 0.5s ease-in-out;

        &Button {
          padding: 10px;

          position: absolute;
          top: 5px;
          right: 5px;

          display: flex;
          flex-direction: column;

          span {
            &:first-child {
              transform: translate(0px, 8px) rotate(45deg);
            }
            &:last-child {
              transform: translate(0px, 0px) rotate(-45deg);
            }
          }
        }

        nav {
          display: block;
          border-bottom: 2px solid #ffffff;

          ul {
            li {
              width: 100%;
              height: 100%;
              margin-bottom: 15px;

              &:not(:last-child) {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$ui-mobile-max} {
    &Nav {
      &Buttons {
        gap: 10px;
      }
      &Cart {
        svg {
          width: 15px;
          height: 15px;
        }
        .cartCount {
          width: 17px;
          height: 17px;
          top: -4px;
          right: -4px;
        }
      }
      &Hamb {
        span {
          width: 20px;
          height: 2px;
          margin: 1.8px auto;
        }
      }
    }
  }
}
