.pageLayout {
  min-height: 100%;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
  }

  &Title {
    position: relative;

    &Content {
      height: 100%;
      padding-top: 130px;
      padding-bottom: 30px;
      position: relative;
      z-index: 1;
    }
    &Name {
      font-family: $font-inter;
      line-height: 50px;
      font-weight: 700;
      color: #ffffff;
      font-size: 40px;
      margin-bottom: 5px;
    }
    &Url {
      margin-bottom: 10px;

      font-family: $font-inter;
      line-height: 100%;
      font-weight: 300;
      font-size: 16px;

      color: #ffffff;

      a {
        color: #ffffff;
        transition: all 0.3s ease;
        &:hover {
          @media #{$ui-mouse-device} {
            color: $ui-sun-color;
          }
        }
      }
      span {
        width: 20px;
        height: 100%;
        vertical-align: top;
      }
    }

    @media #{$ui-tablet-max} {
      // height: 200px;

      &Content {
        padding-top: 110px;
      }
    }

    @media #{$ui-tablet-avg} {
      // height: 150px;
      &Content {
        padding-top: 70px;
        padding-bottom: 15px;
      }
      &Name {
        font-size: 30px;
        line-height: 100%;
      }
    }
    @media #{$ui-mobile-max} {
      &Content {
        padding-top: 60px;
        padding-bottom: 8px;
      }
      &Name {
        font-size: 25px;
      }
      &Url {
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  &Main {
    background-color: $ui-bg-color;
  }
}
