.pageLayout {
  min-height: 100%;

  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &Title {
    position: relative;
    height: 250px;

    &Content {
      padding-top: 130px;

      position: relative;
      z-index: 1;
    }
    &Name {
      font-family: $font-inter;
      line-height: 50px;
      font-weight: 700;
      color: #ffffff;
      font-size: 40px;
      margin-bottom: 5px;
    }
    &Url {
      display: flex;
      align-items: center;
      gap: 5px;

      font-family: $font-inter;
      line-height: 30px;
      font-weight: 300;
      color: #ffffff;
      font-size: 16px;

      a {
        color: #ffffff;
        transition: all 0.3s ease;
        &:hover {
          @media #{$ui-mouse-device} {
            color: $ui-sun-color;
          }
        }
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }

    @media #{$ui-tablet-max} {
      height: 200px;

      &Content {
        padding-top: 110px;
      }
    }

    @media #{$ui-tablet-avg} {
      height: 150px;
      &Content {
        padding-top: 70px;
      }
      &Name {
        font-size: 30px;
        line-height: 100%;
      }
    }
    @media #{$ui-mobile-max} {
      height: 130px;
      &Content {
        padding-top: 60px;
      }
      &Name {
        font-size: 25px;
      }
      &Url {
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  &Main {
    background-color: $ui-bg-color;
  }
}
