.advantagesBlock {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &Item {
    min-width: 200px;
    flex: 0 0 calc(25% - 30px);

    text-align: center;
  }

  @media #{$ui-tablet-avg} {
    margin-bottom: 20px;
  }
}
