.newsDescription {
  padding-top: 30px;
  padding-bottom: 30px;
  &Content {
    position: relative;
  }
  &Title {
    margin-bottom: 10px;
  }
  &Image {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    margin-bottom: 30px;

    object-fit: contain;
    object-position: 50% 50%;

    border-radius: 8px;
  }
  &Date {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 800;
    font-size: 20px;
    color: $ui-sun-color;

    img {
      width: 40px;
      height: 40px;
    }
  }
  &Text {
    p {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  &Error {
    text-align: center;
  }

  @media #{$ui-tablet-max} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media #{$ui-tablet-max} {
    &Image {
      margin-bottom: 10px;
    }
    &Text {
      p {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
