.newsDescription {
  padding-top: 30px;
  padding-bottom: 30px;
  &Content {
    position: relative;
  }
  &Title {
    margin-bottom: 10px;
  }
  &Image {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    margin-bottom: 30px;

    object-fit: contain;
  }
  &Date {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: $ui-sun-color;
  }
  &Text {
    p {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  &Error {
    text-align: center;
  }

  @media #{$ui-tablet-max} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
