.certificateItem {
  min-width: 200px;
  flex: 0 0 calc(25% - 20px);

  position: relative;

  &Content {
    height: 350px;

    cursor: pointer;

    transition: all 0.5s ease;

    @media #{$ui-mouse-device} {
      &:hover {
        transform: scale(1.1);
      }
      &._notAnimated {
        &:hover {
          transform: none;
        }
      }
    }
  }

  &AdminPanel {
    padding: 5px;
    text-align: right;

    background-color: $ui-sun-color;
    border-radius: 8px;
    img {
      width: 20px;
      height: 20px;

      cursor: pointer;

      transition: all 0.3s ease;

      @media #{$ui-mouse-device} {
        &:hover {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  span {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 350px;

      border-radius: 8px;

      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &Info {
    padding: 10px 5px;
    width: 100%;
    min-height: 50px;

    position: absolute;
    left: 0;
    bottom: 0;

    border-radius: 0px 0px 8px 8px;

    background-color: $ui-sun-color;

    &Text {
      font-weight: 600;

      color: white;
    }
  }

  @media screen and (max-width: 890px) {
    flex: 0 0 calc(33.333% - 20px);
  }

  @media screen and (max-width: 670px) {
    flex: 0 0 calc(50% - 20px);
  }

  @media screen and (max-width: 448px) {
    flex: 0 0 calc(50% - 20px);
  }
  @media #{$ui-mobile-max} {
    flex: 0 0 100%;

    span {
      img {
        object-fit: contain;
      }
    }
  }
}
.certificateItemInModal {
  border-radius: 8px;
  h2 {
    margin-bottom: 20px;
  }
  span {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
