.userModal {
  &Title {
    margin-bottom: 20px;
  }
  &Form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 100%;
    }

    &ImageBlock {
      display: flex;
      flex-direction: column;
    }

    &Image {
      height: 200px;
      width: 200px;

      object-fit: cover;
      object-position: 50% 50%;
    }
    &Error {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &Infos {
      position: relative;
    }
    &Info {
      margin-bottom: 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      label {
        flex: 0 0 calc(80% - 20px);
        textarea {
          width: 100%;
          resize: none;
        }
      }
      button {
        flex: 0 0 calc(20% - 20px);
      }
    }
  }
  &CheckBox {
    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
      input {
        width: min-content;
        flex-grow: 0;
      }
    }
  }
  @media #{$ui-tablet-max} {
    &Form {
      &Info {
        flex-wrap: wrap;

        label {
          flex: 0 0 100%;
        }
      }
    }
  }
}
