.servicesList {
  padding-top: 30px;
  padding-bottom: 30px;

  &Title {
    margin-bottom: 20px;
  }

  &Content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &Error {
    text-align: center;
  }

  @media #{$ui-tablet-max} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
