.mixtureOrderModal {
  position: relative;

  &Title {
    margin-bottom: 20px;
  }
  &Cart {
    button {
      padding: 5px 10px;
    }
  }
  &Form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    label {
      width: 100%;
      input {
        width: 100%;
      }
    }

    &Recaptcha {
      display: flex;
      justify-content: center;
    }
    textarea {
      resize: none;
    }
    &CapacityItems {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    &Price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-weight: 700;
        font-size: 20px;
        color: black;
      }
    }
    &CheckBox {
      label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        input {
          width: min-content;
          flex-grow: 0;
        }
      }
    }
  }

  @media #{$ui-mobile-max} {
    &Form {
      &Price {
        flex-direction: column;
        gap: 10px;

        font-size: 16px;
        line-height: 100%;
        span {
          font-size: 16px;
        }
      }
    }
  }
}
