.mixtureOrderModal {
  position: relative;

  &Title {
    margin-bottom: 20px;
  }
  &Cart {
    button {
      padding: 5px 10px;
    }
  }
  &Form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    label {
      width: 100%;
      input {
        width: 100%;
      }
    }
    textarea {
      resize: none;
    }
    &Price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-weight: 700;
        font-size: 20px;
        color: black;
      }
    }
  }
}
