.worksCountBlock {
  background-color: $ui-sun-color;
  padding-top: 36px;
  padding-bottom: 36px;
  &Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &Item {
    flex: 1 0 calc(25% - 20px);

    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;

    span {
      width: 40px;
      height: 6px;

      position: absolute;
      top: 0px;
      left: 5px;

      background-color: $ui-black-color;
    }
    p {
      color: $ui-black-color;
    }
    h5 {
      font-size: 28px;
      line-height: 100%;

      color: $ui-black-color;
    }
  }
  @media #{$ui-tablet-max} {
    &Item {
      h5 {
        font-size: 24px;
        line-height: 100%;
      }
      p {
        font-size: 44px;
      }
      span {
        width: 25px;
      }
    }
  }
  @media #{$ui-mobile-max} {
    padding-top: 26px;
    padding-bottom: 26px;
    &Item {
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 36px;
      }
      span {
        width: 20px;
      }
    }
  }
}
