.myTextArea {
  @include formFields;
}

.formItem {
  display: flex;
  flex-direction: column;

  position: relative;

  font-weight: 600;
}
.error {
  position: absolute;
  top: -6px;
  left: 10px;
  z-index: 2;
  background-color: white;
}
