.reviewsModal {
  &Title {
    margin-bottom: 20px;
  }
  &Form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    textarea {
      resize: none;
    }
  }

  @media #{$ui-mobile-max} {
    &Form {
      gap: 10px;
    }
  }
}
