@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "./assets/styles/nullstyle.scss";

/*TEXT------------------------------------------------------------------------------------------------------------*/

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

.light-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}

.light-link {
  font-family: $font-inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: $ui-sun-color;
}

/*BLOCKS------------------------------------------------------------------------------------------------------------*/
.bar {
  width: 30px;
  height: 3px;
  margin: 2.5px auto;

  background-color: #ffffff;
  border-radius: 6px;

  transition: all 0.3s ease;
}

/*SOMESTYLES------------------------------------------------------------------------------------------------------*/
body {
  overflow-x: hidden;

  font-family: $font-inter;

  &._noscroll {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100vh;

  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: $max-width;
  padding: 0 15px;
  margin: 0 auto;
}
