@mixin formFields {
  padding: 10px;

  font-size: 15px;
  line-height: 20px;

  border: 1px solid $ui-gray-color;

  transition: all 0.3s ease;

  &:focus {
    border: 1px solid $ui-sun-color;
    border-left: 5px solid $ui-sun-color;
  }

  ::placeholder {
    color: #989898;
  }

  @media #{$ui-mobile-max} {
    padding: 7px;
    font-size: 12px;
  }
}
