/*COLORS-----------------------------------------------------------------------------------------------------------*/
$sun_color: #f7c24d; //buttons, links, icons
$wet_asphalt: #4a4a4a; //text, headlines
$bg-color: #f7f7f7; //bg
$black: #262626; //text, headlines
/*CONTAINER--------------------------------------------------------------------------------------------------------*/
$max-width: 1170px;
/*FONTS------------------------------------------------------------------------------------------------------------*/
$inter: "Inter", sans-serif;
$open-sans: "Open Sans", sans-serif;
