/*COLORS-----------------------------------------------------------------------------------------------------------*/
$ui-sun-color: #f7c24d; //buttons, links, icons
$ui-wet-asphalt-color: #4a4a4a; //text, headlines
$ui-bg-color: #f7f7f7; //bg
$ui-black-color: #262626; //text, headlines
$ui-gray-color: #d8d8d8; //borders
$ui-yellow-dark-color: #daa520; //borders, text
$ui-yellow-light-color: #eedc82; //borders
$ui-red-dark-color: #811331; //borders, text
$ui-red-light-color: #dc143c; //borders
$ui-green-dark-color: #4f7942; //borders, text
$ui-green-light-color: #50c878; //borders

/*CONTAINER--------------------------------------------------------------------------------------------------------*/
$max-width: 1170px;
/*FONTS------------------------------------------------------------------------------------------------------------*/
$font-inter: "Inter", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
/*ZINDEX-----------------------------------------------------------------------------------------------------------*/
$ui-index-1: 1; //for crawling in general stream
$ui-index-2: 2; //for crawling in general stream
$ui-index-3: 3; //for masks
$ui-index-4: 4; //for sidebars
$ui-index-5: 5; //for modals
$ui-index-6: 6; //for blocking element
/*BREAKPOINTS------------------------------------------------------------------------------------------------------*/
$ui-mobile-min: "screen and (min-width: 20em)";
$ui-mobile-max: "screen and (max-width: 35.9625em)";

$ui-tablet-min: "screen and (min-width: 36em)";
$ui-tablet-avg: "screen and (max-width: 48em)";
$ui-tablet-max: "screen and (max-width: 61.9625em)";

$ui-desktop-min: "screen and (min-width: 62em)";
$ui-desktop-max: "screen and (max-width: 75em)";

$ui-mouse-device: "(hover: hover) and (pointer: fine)";
$ui-touch-device: "(hover: none) and (pointer: coarse)";
